# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
GB_test.txt
KB_Test.txt
MB_Test.txt
Vagrantfile
cachefs
check_dir.sh
test.c
test2.sh
test.sh
test2.c
test_1GB.c
test_random.c
ubuntu-bionic-18.04-cloudimg-console.log
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
.vscode/c_cpp_properties.json
.vscode/settings.json
testing/link1/a.txt
