# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Files
.vagrant/
.vscode/
GB_test.txt
KB_Test.txt
MB_Test.txt
Vagrantfile
bla/
cachefs
check_dir.sh
test.c
test.sh
test2.c
test2.sh
test_1GB.c
test_random.c
testing/
ubuntu-bionic-18.04-cloudimg-console.log  
